.profile-links {
  display: flex;
  gap: 10px;
  margin: 10px;
  justify-content: space-between;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
}

.vertical-separator {
  width: 1px;
  height: 100%;
  background-color: #ccc;
  margin: 0 70px; /* To center the separator vertically */
}